Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
var=['Kriti',3.4,[1,2,3],(3,4,5)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [18]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python']
var4 = 1.
print('var1:' + str(type(var1)))
print('var2:' + str(type(var2)))
print('var3:' + str(type(var3)))
print('var4:' + str(type(var4)))

var1:<class 'str'>
var2:<class 'str'>
var3:<class 'list'>
var4:<class 'float'>

(i) str
(ii) str
(iii) list
(iv) float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ Division
% Modulus 
// Floor division
** Exponentiation (Power of)

In [22]:
x = 2
y = 5

print(x / y)
print(x % y)
print(x // y)
print(x ** y)

0.4
2
0
32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [25]:
list1=['Kriti',3.4,[1,2,3],(3,4,5),1,3,4.000,'Uppal','1',9]

In [37]:
len(list1)

for i in list1:
    print(str(i)+" "+ str(type(i)))

Kriti <class 'str'>
3.4 <class 'float'>
[1, 2, 3] <class 'list'>
(3, 4, 5) <class 'tuple'>
1 <class 'int'>
3 <class 'int'>
4.0 <class 'float'>
Uppal <class 'str'>
1 <class 'str'>
9 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [64]:
a=int(input('Enter the value of A'))
b=int(input('Enter the value of B'))

while a%b==0:
    print(a//b)
    break
else:
    print(str(a)+' is not purely divisible by number '+str(b))

Enter the value of A 9
Enter the value of B 2

9 is not purely divisible by number 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [75]:
import random
var1=[]
for i in range(0,25):
    var1.append(random.randint(10,1000))
    
print(len(var1))

print(var1)

for i in var1:
    if(i%3)==0:
        print(str(i)+' divisible by 3')
    else:
        print(str(i)+' not divisible by 3')

25
[329, 17, 184, 694, 534, 295, 191, 844, 875, 356, 161, 649, 630, 209, 816, 190, 856, 401, 953, 300, 321, 505, 278, 458, 724]
329 not divisible by 3
17 not divisible by 3
184 not divisible by 3
694 not divisible by 3
534 divisible by 3
295 not divisible by 3
191 not divisible by 3
844 not divisible by 3
875 not divisible by 3
356 not divisible by 3
161 not divisible by 3
649 not divisible by 3
630 divisible by 3
209 not divisible by 3
816 divisible by 3
190 not divisible by 3
856 not divisible by 3
401 not divisible by 3
953 not divisible by 3
300 divisible by 3
321 divisible by 3
505 not divisible by 3
278 not divisible by 3
458 not divisible by 3
724 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

A mutable object can be changed after it is created
Examples : List, Set, Dictionary.

An immutable object cannot be changed after it is created
Exg: tuple, int, float, bool, str.